body {
	background-color: green;
}

h1 {
	text-align: center;
	color: pink;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	border-style: solid;
	border-color: pink;
	border-width: thick;
}
